body {
    margin: 0px;
    padding: 0px;
    background-color:white;
}
.dashboard {
    width: 80%;
    margin: auto;
    background-color: tan;
    border: 1px solid black;
    box-shadow: 0px 0px 5px blanchedalmond;
    height: 100%;
    margin-top: 20px;
}